# Configurações do Banco de Dados
DB_USER=root
DB_PASSWORD=paiva123
DB_HOST=db
DB_PORT=3306
DB_NAME=lovelove

# Configurações da Aplicação
SECRET_KEY=lovelove#secret$key$2024
JWT_SECRET_KEY=lovelove.jwt.secret.2024

# Configurações do MySQL
MYSQL_ROOT_PASSWORD=paiva123
MYSQL_DATABASE=lovelove
MYSQL_USER=lovelove_user
MYSQL_PASSWORD=lovelove_pass
