# Configurações do Banco de Dados PostgreSQL
DB_USER=postgres
DB_PASSWORD=paiva123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=lovelove_db

# Configurações da Aplicação
SECRET_KEY=lovelove#secret$key$2024
JWT_SECRET_KEY=lovelove.jwt.secret.2024